#display {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 200px;
}

button {
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
    background-color: lightgray;
    border-radius: 5px;
}
button:hover {
    background-color: white;
}